@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --swiper-theme-color: pink !important;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right img {
  width: 50%;
  border-radius: 10px;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid pink;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: pink;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: pink;
  }
}

.main-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}

.extra {
  width: 50%;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/imgs/12-1.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/imgs/12-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Lobster", cursive;
  font-weight: 400;
}

.video-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.last-one {
  font-size: 3em;
  font-family: "Lavishly Yours", cursive;
}

.left h1 {
  font-size: 3em;
  color: pink;
}

.left span {
  color: pink;
}

.left h2 {
  font-size: 2em;
}

.left p {
  font-size: 1.5em;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  gap: 10px;
}

.container > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  border-radius: 0.5rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 15px #e6a4e4;
          box-shadow: 1px 5px 15px #e6a4e4;
  position: relative;
  overflow: hidden;
}

.container > div:nth-of-type(1) {
  background: url("/imgs/13.jpeg") no-repeat 50%/cover;
}

.container > div:nth-of-type(2) {
  background: url("/imgs/9.jpeg") no-repeat 50%/cover;
}

.container > div:nth-of-type(3) {
  background: url("/imgs/10.jpeg") no-repeat 50%/cover;
}

.container > div:nth-of-type(4) {
  background: url("/imgs/7.jpeg") no-repeat 50%/cover;
}

.container > div .swiper-button-next,
.container > div .swiper-button-prev {
  color: pink !important;
}

.container > div .content {
  font-size: 1.1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #e6a4e4;
  background: -webkit-gradient(linear, left bottom, left top, from(#e6a4e4), to(rgba(230, 164, 228, 0)));
  background: linear-gradient(0deg, #e6a4e4 0%, rgba(230, 164, 228, 0) 100%);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s 0.2s;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s 0.2s;
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  visibility: hidden;
}

.container > div .content span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}

.container > div:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  -webkit-box-shadow: 1px 3px 15px #e6dff5;
          box-shadow: 1px 3px 15px #e6dff5;
  -webkit-transform: translatey(-30px);
          transform: translatey(-30px);
}

.container > div:hover .content {
  opacity: 1;
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */